@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

/* ---- BASE ---- */

body {
    font-family: 'Open Sans', sans-serif;
}

.block-divider--footer {
    width: 90%;
    height: 5px;
    border: 0;
    margin-top: 3%;
    margin-left: 5%;
    background-color: #e9ecef;
}

/* ---- ACCOUNTS ---- */


/* ---- PROJECTS ---- */


/* ---- GMAPS ---- */

.section-filtMap {
    margin: 18px 0 18px 0;
}

.section-filtMap.row {
    margin: 0 auto;
}

#map {
    min-height: 550px !important;
}

.pos-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 3px;
}

.borderless {
    border: 0 none;
}

.bg-aliceBlue {
    background-color: aliceblue;
}

.fadedOut {
    opacity: 0;
}

.transitionAll {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

#results tr:hover {
    background-color: #b5ddff;
}
